/* CSS reset start */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
a{
    text-decoration: none;
}
a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* CSS reset end */

section {
    height: 100vh;
    background-image: url(https://cdn.wallpapersafari.com/55/73/ghY4rc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#section1 form {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    height: 500px;
    width: 500px;
    border: 2px solid black;
    background-color: rgb(156, 76, 89);
}

#section1 input {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    border-bottom: 2px solid black;
    background-color: rgb(173, 114, 124);
}

#firstLabel {
    font-size: 22px;
    font-weight: bold;
    position: inherit;
    top: 20%;
    left: 50%;
    margin-left: -122.5px;
}

#firstInput {
    position: inherit;
    top: 30%;
}

#secondLabel {
    font-size: 22px;
    font-weight: bold;
    position: inherit;
    top: 50%;
    left: 50%;
    margin-left: -140px;
}

#secondInput {
    position: inherit;
    top: 60%;
}



#section2 {
    position: relative;
    color: #f2e3121f;

}

#topLeft, #topRight, #bottomLeft, #bottomRight, #middle {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 5px dashed white;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 500;
    background-color: rgb(156, 76, 89);
    transition: 0.5s ease;
}

#topLeft:hover, #topRight:hover, #bottomLeft:hover, #bottomRight:hover, #middle:hover {
    background-color: rgb(124, 50, 62);
}

#topLeft {
    left: 0;
    top: 0;
    margin-left: 20px;
    margin-top: 20px;
}

#topRight {
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

#bottomLeft {
    left: 0;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

#bottomRight {
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

#middle {
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

#section3 {
    min-height: unset;
}

/* #section3 img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
} */

#h1Txt {
    /* position: absolute; */
    font-size: 150px;
    margin: auto;
    text-align: center;
    color: black;
}

#longTxt {
    font-size: 20px;
    margin: auto;
    text-align: center;
    color: white;
}